<div class="modal hide fade in" id="loginModal">

  <div class="modal-header">

    <button class="close" data-dismiss="modal">x</button>

    <h2>Sign in</h2>

    <%= form_for(:user, :as => resource_name, :url => session_path(resource_name),:format => :json,:html => {:id => "sign_in_user"}) do |f| %>
      <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in" %></div>

      <%= render "devise/shared/links" %>

      </div>

      <div class="modal-footer">

        <p><div><%= f.submit "Sign up", :class => 'btn btn-small btn-success' %></div></p>

        <p><a href="#" class="btn btn-small" data-dismiss="modal">Close</a></p>

      </div>

    <% end %>

    </div>