<div class="container">
  <!--container-full?-->

  <div class="row">

    <div class="col-md-8 hero-spacer">
      <div class="well">
        <div class="">Search</div>
        <div class=" home-search-panel">

          <%= search_form_for @search do |f| %>

              <div class="search-fields">
                <%= f.label :year_gteq, "Not Older Than:" %>
                <%= f.select :year_gteq, options_for_select((2000..2013).to_a.map { |s| [s, s] }), :include_blank => "Select Year" %>
              </div>
              <div class="search-fields">
                <%= f.label :category_id_eq, "Category:" %>
                <%= f.select :category_id_eq, options_for_select([['Web Design', 1], ['Programming', 2], ['Business', 3], ['Mobil Development', 4]]), :include_blank => "Select Category" %>
              </div>
              <div class="search-fields">
                <%= f.label :level_eq, "Level:" %>
                <%= f.select :level_eq, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced']]), :include_blank => "Select Level" %>
              </div>
              <div class="search-fields">
                <%= f.label "Title/Description:" %>
                <%= f.text_field :title_or_description_cont %>
              </div>
              <div class="search-fields">
                <%= f.label "Source:" %>
                <%= f.text_field :source_cont %>
              </div>
              <div class="search-fields">
                <%= f.label "Cost" %>
                <%= f.select :cost_cont, options_for_select([['Free', 'Free'], ['Subscription', 'Subscription']]), :include_blank => "Select Cost" %>
              </div>
              <div class="search-fields">
                <%= f.label "Medium" %>
                <%= f.select :medium_eq, options_for_select([["Book", 1], ["Video", 2], ["Blog-Tutorial", 3], ["Article", 4], ["Video-Tutorial", 5], ["Tutorial-Exercises", 6]]), :include_blank => "Select Medium" %>
              </div>


              <div class="search-button-container">
                <%= f.submit "Search", class: "button search-button" %>
              </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
      <h1 class="center">Web Learning Repository</h1>

      <p class="about">Coderstacks is a central library for the best web development learning resources on the web.
        Don't trawl through hundreds of unknown resources when you can find the ones that have been tried and tested by
        others right in one place</p>
      </div>
    </div>


    <!--<button class="large radius main-button"><%= link_to "Browse Resources", resources_path %></button>-->

  </div>
</div>


<div class="container">

  <div class="row">

    <div class="col-md-2">
      <%= render 'layouts/sidenav' %>
    </div>
    <div class="col-md-10">
      <%= render 'welcome/resources' %>
    </div>


  </div>
</div>