<h4>Reviews</h4>

<% if @resource.reviews.blank? %>
    <div class="well text-center">
      <h3>No reviews just yet, would you like to add the first!</h3>
    </div>
<% else %>
    <%= render :partial => @resource.reviews %>
<% end %>
<%= form_for([@resource, @resource.reviews.build]) do |f| %>
    <div>
      <%= f.label 'Review This Resource' %>
      <%= f.text_area :content, :cols => 20, :rows => 2, :id => 'comment-txt' %>

      <div id="star-rating"></div>
    </div>
    <p><%= f.submit "Add Review", class: 'btn btn-success' %></p>
<% end %>
