<%= javascript_include_tag 'side_nav.js.erb' %>
<div class="container">

  <div class="row">

    <div class="col-md-2">
      <%= render 'layouts/sidenav' %>
    </div>
    <div class="col-md-8">
      <div class="row">
      <%= render 'resources/resource' %>
      </div>
      <div class="row">
        <%= render 'resources/reviews' %>
      </div>

    </div>

    <div class="col-md-2">
      <%= render 'resources/latest' %>
    </div>


  </div>
</div>


