
<div class="container-full row">

  <h1>Listing resources</h1>
  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-8 columns panel">
        <div class="row">
          <% @resources.each do |resource| %>
              <div class="small-6 columns">
                <h4> <%= resource.title %> </h4>
                <div><%= resource.description %>  </div>
                <%= resource.type %>
                <%= resource.source %>
                <%= resource.level %>
                <%= resource.year %>
                <%= link_to 'Show', resource %>
                <%= link_to 'Edit', edit_resource_path(resource) %>
                <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>