<div id="comment<%= (review.id) %>" class="well">
  <div class="post-container">
    <div class="row">
      <div class="col-lg-2">
        <div class="comment-img">

          <%= image_tag('default-user.jpg', :class => "img-thumbnail") %>


        </div>

      </div>

      <div class="col-lg-10">
        <div class="post-content">
          <%= review.content %>
          <div class="commentname"><b><%= review.user.username %></b>
            <small class="tiny"> (<%= time_ago_in_words(review.created_at) %> ago)</small>
          </div>
          <div class="score">
            <b><%= review.score %></b>
          </div>

          <% if current_user?(review.user) %>
              <%= link_to 'Delete', resource_review_path(@resource, review), :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="reply-container col-lg-offset-2">
    <% unless review.comments.empty? %>
          <%= render review.comments %>
    <% end %>

    <% if review %>
        <%= form_for([@resource, review, review.comments.build], id: "posts") do |f| %>
            <div>
              <%= f.label 'Add a Reply' %>
              <%= f.text_area :content, :cols => 20, :rows => 2, :id => 'commtxt' %>
            </div>

            <p><%= f.submit "Reply", class: 'btn btn-info' %></p>
        <% end %>

    <% end %>

  </div>
</div>